--extra-index-url https://download.pytorch.org/whl/cpu

streamlit
pandas
numpy<2.0.0
plotly
matplotlib
seaborn
requests
yfinance
joblib
ml-dtypes
tensorflow-cpu==2.21.0
keras==3.13.2
tf-keras
torch
transformers
scikit-learn
