--extra-index-url https://download.pytorch.org/whl/cpu

streamlit
pandas
numpy
plotly
matplotlib
seaborn
requests
yfinance
joblib
tensorflow-cpu<2.16.0
ml-dtypes<0.3.0
torch
transformers
scikit-learn
