--extra-index-url https://download.pytorch.org/whl/cpu

streamlit
pandas
numpy<2.0.0
plotly
matplotlib
seaborn
requests
yfinance
joblib
tensorflow-cpu
ml-dtypes
tf-keras
torch
transformers
scikit-learn
